.post_image{
 width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.post_text{
    font-weight: normal;
   margin-left: 10px;
    
}
.post_header {
    display: flex;
align-items: center;
padding: 20px;
}
.post_avatar{
    margin-right:10px;
}
.post{
    max-width: 500px;
    background-color: white;
    border:1px solid lightgrey;
    margin-bottom: 45px;
}
.post_commentBox{
    display: flex;
    margin-top: 10px;
}
.post_comments {
    padding: 10px;
  
}
.post_input
{
    flex:1;
    border:none;
    padding: 10px;
    border-top: 1px solid lightgray;
}
.post_button
{
    flex:0;
    border:none;
    border-top: 1px solid lightgray;
    color: #6082a3;
    background-color: transparent;
}
.p1{
    margin-left: 20px;
}
.d
{
    margin-left: 330px;
    color: #686565;
}